body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 10px;
	background: #8E0E00;
}
#content{
	display: flex;
	margin:auto; 
	position: relative;
	align-items: center;
	align-content: center;
	text-align: center;
	padding: 5vh;
	top:10vh;
}
h2{
	margin:auto; 
	position: relative;
	align-items: center;
}
#sign-out{
    position: relative;
    margin: auto;
    outline: none;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    padding:15px;
    text-align: center;
    width: 30%;
}